<template>
  <div>
    <nuxt />
  </div>
</template>

<style>
body {
  font-family: 'Blinker', sans-serif;
  background: linear-gradient(90deg, #642b73 0%, #c6426e 100%);
  line-height: 1.5;
  letter-spacing: 0;
  color: #fff;
}

.gradient {
	background: linear-gradient(90deg, #642b73 0%, #c6426e 100%);
}
</style>