<template>
	<div>
		<nav id="header" class="fixed w-full z-30 top-0 text-white">
			<div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">
				<div class="pl-4 flex items-center">
					<a class="toggleColour text-white no-underline hover:no-underline font-bold text-2xl lg:text-4xl" href="#">
						<span class="h-8 fill-current inline">TenWebb</span>
					</a>
				</div>
				<div class="block lg:hidden pr-4">
					<button id="nav-toggle" class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-800 hover:border-teal-500 appearance-none focus:outline-none">
						<svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
					</button>
				</div>
				<div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-white lg:bg-transparent text-black p-4 lg:p-0 z-20" id="nav-content">
					<ul class="list-reset lg:flex justify-end flex-1 items-center">
						<li class="mr-3">
							<a id="home1" class="inline-block py-2 px-4 hidden text-gray-800 font-bold no-underline" href="#">Home</a>
							<a id="home2" class="inline-block py-2 px-4 text-white font-bold no-underline" href="#">Home</a>
						</li>
					</ul>
					<a href="#contact-us" id="navAction" class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full mt-4 lg:mt-0 py-4 px-8 shadow opacity-75">Contact Us</a>
				</div>
			</div>
			<hr class="border-b border-gray-100 opacity-25 my-0 py-0" />
		</nav>
		<div class="pt-24">
			<div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
				<div class="flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left">
					<p class="uppercase tracking-loose w-full">Fulfilling your tech-dreams!</p>
					<h1 class="my-4 text-5xl font-bold leading-light">TenWebb Devs</h1>
					<p class="leading-normal text-2xl mb-8">We code and design websites as well as take care of your security!</p>
					<a href="#pricing" class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full my-6 py-4 px-8 shadow-lg">See Pricing</a>
				</div>
				<div class="w-full md:w-3/5 py-6 text-center">
					<img class="w-full md:w-4/5 z-50" src="../assets/container.png">
				</div>
			</div>
		</div>
		<div class="relative -mt-12 lg:-mt-12">
			<svg viewBox="0 0 1428 174" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
					<g transform="translate(-2.000000, 44.000000)" fill="#ffffff" fill-rule="nonzero">
						<path d="M0,0 C90.7283404,0.927527913 147.912752,27.187927 291.910178,59.9119003 C387.908462,81.7278826 543.605069,89.334785 759,82.7326078 C469.336065,156.254352 216.336065,153.6679 0,74.9732496" opacity="0.100000001"></path>
						<path d="M100,104.708498 C277.413333,72.2345949 426.147877,52.5246657 546.203633,45.5787101 C666.259389,38.6327546 810.524845,41.7979068 979,55.0741668 C931.069965,56.122511 810.303266,74.8455141 616.699903,111.243176 C423.096539,147.640838 250.863238,145.462612 100,104.708498 Z" opacity="0.100000001"></path>
						<path d="M1046,51.6521276 C1130.83045,29.328812 1279.08318,17.607883 1439,40.1656806 L1439,120 C1271.17211,77.9435312 1140.17211,55.1609071 1046,51.6521276 Z" id="Path-4" opacity="0.200000003"></path>
					</g>
					<g transform="translate(-4.000000, 76.000000)" fill="#f8fafc" fill-rule="nonzero">
						<path d="M0.457,34.035 C57.086,53.198 98.208,65.809 123.822,71.865 C181.454,85.495 234.295,90.29 272.033,93.459 C311.355,96.759 396.635,95.801 461.025,91.663 C486.76,90.01 518.727,86.372 556.926,80.752 C595.747,74.596 622.372,70.008 636.799,66.991 C663.913,61.324 712.501,49.503 727.605,46.128 C780.47,34.317 818.839,22.532 856.324,15.904 C922.689,4.169 955.676,2.522 1011.185,0.432 C1060.705,1.477 1097.39,3.129 1121.236,5.387 C1161.703,9.219 1208.621,17.821 1235.4,22.304 C1285.855,30.748 1354.351,47.432 1440.886,72.354 L1441.191,104.352 L1.121,104.031 L0.457,34.035 Z"></path>
					</g>
				</g>
			</svg>
		</div>
		<section class="bg-gray-100 border-b py-8">
			<div class="container max-w-5xl mx-auto m-8">
				<h1 class="w-full my-2 text-5xl font-bold leaning-light text-center text-gray-800">Our Team</h1>
				<div class="w-full mb-4">
					<div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
				</div>
				<div class="flex flex-wrap">
					<div class="w-5/6 sm:w-1/2 p-6">
						<h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">GhostHackz</h3>
						<p class="text-gray-600 mb-8">GhostHackz aka Ghostz is a web developer and designer. He has been working with us for a year now. His speciality is in designing cool looking and fancy websites. He is fluent in HTML, CSS and JavaScript. He always looks forward to create something new and keeps experimenting with different scripting languages.</p>
					</div>
					<div class="w-full sm:w-1/2 p-6">
						<img class="w-auto sm:h-64 mx-auto" src="../assets/gh.png">
					</div>
					<hr class="border-b border-gray-900 opacity-25 my-0 py-0" />
					<div class="flex flex-wrap flex-col-reverse sm:flex-row">
						<div class="w-full sm:w-1/2 p-6">
							<img class="w-auto sm:h-64 mx-auto" src="../assets/pk.png">
						</div>
						<div class="w-full sm:w-1/2 p-6 mt-6">
							<div class="align-middle">
								<h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">Prashik Kamble</h3>
								<p class="text-gray-600 mb-8">Prashik is a web developer who is also excellent in dealing with clients. He manages the web hosting sector. He is also working as a security expert for us.</p>
							</div>
						</div>
					</div>
					<hr class="border-b border-gray-900 opacity-25 my-0 py-0" />
					<div class="flex flex-wrap">
					<div class="w-5/6 sm:w-1/2 p-6">
						<h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">Divyashil</h3>
						<p class="text-gray-600 mb-8">Divyashil is our graphics designer. His excellence is in creating sick looking graphics items.</p>
					</div>
					<div class="w-full sm:w-1/2 p-6">
						<img class="w-auto sm:h-64 mx-auto" src="../assets/ds.png">
					</div>
				</div>
			</div>
		</section>
		<section id="pricing" class="bg-gray-100 py-8">
			<div class="container mx-auto px-2 py-4 pb-12 text-gray-800">
				<h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">Pricing</h1>
				<div class="w-full mb-4">
					<div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
				</div>
				<div class="flex flex-col sm:flex-row justify-center pt-12 my-12 sm:my-4">
					<div class="flex flex-col w-5/6 lg:w-1/4 mx-auto lg:mx-0 rounded-none lg:rounded-l-lg bg-white mt-4">
						<div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6">
							<div class="w-full pt-6 text-5xl text-gray-600 font-bold text-center">$7.99</div>
							<div class="w-full text-center font-bold text-gray-800">Single-Paged Website</div>
							<div class="flex items-center justify-center">
								<a href="#" class="mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg">Order</a>
							</div>
						</div>
					</div>
					<div class="flex flex-col w-5/6 lg:w-1/3 mx-auto lg:mx-0 rounded-lg bg-white mt-4 sm:-mt-6 shadow-lg z-10">
						<div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6">
							<div class="w-full pt-6 text-5xl text-gray-600 font-bold text-center">$12.99</div>
							<div class="w-full text-center font-bold text-gray-800">Multi-Paged Website</div>
							<div class="flex items-center justify-center">
								<a href="#" class="mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg">Order</a>
							</div>
						</div>
					</div>
					<div class="flex flex-col w-5/6 lg:w-1/4 mx-auto lg:mx-0 rounded-none lg:rounded-l-lg bg-white mt-4">
						<div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6">
							<div class="w-full pt-6 text-5xl text-gray-600 font-bold text-center">$25.99</div>
							<div class="w-full text-center font-bold text-gray-800">iOS or Android App</div>
							<div class="flex items-center justify-center">
								<a href="#" class="mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg">Order</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<svg class="wave-top" viewBox="0 0 1439 147" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				<g transform="translate(-1.000000, -14.000000)" fill-rule="nonzero">
					<g class="wave" fill="#f8fafc">
						<path d="M1440,84 C1383.555,64.3 1342.555,51.3 1317,45 C1259.5,30.824 1206.707,25.526 1169,22 C1129.711,18.326 1044.426,18.475 980,22 C954.25,23.409 922.25,26.742 884,32 C845.122,37.787 818.455,42.121 804,45 C776.833,50.41 728.136,61.77 713,65 C660.023,76.309 621.544,87.729 584,94 C517.525,105.104 484.525,106.438 429,108 C379.49,106.484 342.823,104.484 319,102 C278.571,97.783 231.737,88.736 205,84 C154.629,75.076 86.296,57.743 0,32 L0,0 L1440,0 L1440,84 Z"></path>
					</g>
					<g transform="translate(1.000000, 15.000000)" fill="#FFFFFF">
						<g transform="translate(719.500000, 68.500000) rotate(-180.000000) translate(-719.500000, -68.500000) ">
							<path d="M0,0 C90.7283404,0.927527913 147.912752,27.187927 291.910178,59.9119003 C387.908462,81.7278826 543.605069,89.334785 759,82.7326078 C469.336065,156.254352 216.336065,153.6679 0,74.9732496" opacity="0.100000001"></path>
							<path d="M100,104.708498 C277.413333,72.2345949 426.147877,52.5246657 546.203633,45.5787101 C666.259389,38.6327546 810.524845,41.7979068 979,55.0741668 C931.069965,56.122511 810.303266,74.8455141 616.699903,111.243176 C423.096539,147.640838 250.863238,145.462612 100,104.708498 Z" opacity="0.100000001"></path>
							<path d="M1046,51.6521276 C1130.83045,29.328812 1279.08318,17.607883 1439,40.1656806 L1439,120 C1271.17211,77.9435312 1140.17211,55.1609071 1046,51.6521276 Z" opacity="0.200000003"></path>
						</g>
					</g>
				</g>
			</g>
		</svg>
		<section id="contact-us" class="container mx-auto text-center py-6 mb-12">
			<h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-white">Contact Us</h1>
			<div class="w-full mb-4">
				<div class="h-1 mx-auto bg-white w-1/6 opacity-25 my-0 py-0 rounded-t"></div>
			</div>
			<h3 class="my-6 text-3xl leading-tight">Want to be in touch?</h3>
			<a href="#" class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full my-6 py-4 px-8 shadow-lg">Send an E-Mail</a>
		</section>
		<footer class="bg-gray-100">
			<div class="container mx-auto px-8">
				<div class="w-full flex flex-col md:flex-row py-6">
					<div class="flex-1 mb-6">
						<a class="text-orange-600 no-underline hover:no-underline font-bold text-2xl lg:text-4xl" href="#">
							<span class="h-8 fill-current inline">TenWebb</span>
						</a>
					</div>
					<div class="flex-1">
						<p class="uppercase text-gray-500 md:mb-6">Legal</p>
						<ul class="link-reset mb-6">
							<li class="mt-2 inline-block mr-2 md:block md:mr-0">
								<a href="#" class="no-underline hover:no-underline text-gray-800 hover:text-orange-500">Terms &amp; Conditions</a>
							</li>
							<li class="mt-2 inline-block mr-2 md:block md:mr-0">
								<a href="#" class="no-underline hover:no-underline text-gray-800 hover:text-orange-500">Privacy</a>
							</li>
						</ul>
					</div>
					<div class="flex-1">
						<p class="uppercase text-gray-500 md:mb-6">Social</p>
						<ul class="link-reset mb-6">
							<li class="mt-2 inline-block mr-2 md:block md:mr-0">
								<a href="#" class="no-underline hover:no-underline text-gray-800 hover:text-orange-500">Facebook</a>
							</li>
							<li class="mt-2 inline-block mr-2 md:block md:mr-0">
								<a href="#" class="no-underline hover:no-underline text-gray-800 hover:text-orange-500">Twitter</a>
							</li>
						</ul>
					</div>
					<div class="flex-1">
						<p class="uppercase text-gray-500 md:mb-6">Company</p>
						<ul class="link-reset mb-6">
							<li class="mt-2 inline-block mr-2 md:block md:mr-0">
								<a href="#" class="no-underline hover:no-underline text-gray-800 hover:text-orange-500">Official Blog</a>
							</li>
							<li class="mt-2 inline-block mr-2 md:block md:mr-0">
								<a href="#" class="no-underline hover:no-underline text-gray-800 hover:text-orange-500">About Us</a>
							</li>
							<li class="mt-2 inline-block mr-2 md:block md:mr-0">
								<a href="#" class="no-underline hover:no-underline text-gray-800 hover:text-orange-500">Contact Us</a>
							</li>
						</ul>
					</div>
				</div>
				<center><p class="uppercase text-gray-800">Copyright &copy; 2019 <a href="#" class="no-underline hover:no-underline text-blue-800 font-bold normal-case">TenWebb Devs</a>. All rights reserved.</p></center><br/>
			</div>
		</footer>
	</div>
</template>

<script>
if (process.client) {
	var scrollPos = window.scrollY;
	var header = document.getElementById("header");
	var navContent = document.getElementById("nav-content");
	var navAction = document.getElementById("navAction");
	var brandName = document.getElementById("brandname");
	var home1 = document.getElementById("home1");
	var home2 = document.getElementById("home2");
	var toToggle = document.querySelectorAll(".toggleColour");

	document.addEventListener("scroll", function () {
		scrollPos = window.scrollY;
		
		if (scrollPos > 10) {
			header.classList.add("bg-white");
			home1.classList.remove("hidden");
			home2.classList.add("hidden");
			navAction.classList.remove("bg-white");
			navAction.classList.add("gradient");
			navAction.classList.remove("text-gray-800");
			navAction.classList.add("text-white");
			for (var i = 0; i < toToggle.length; i++) {
				toToggle[i].classList.add("text-gray-800");
				toToogle[i].classList.remove("text-white");
			}
			header.classList.add("shadow");
			navContent.classList.remove("bg-gray-100");
			navContent.classList.add("bg-white");
		} else {
			header.classList.remove("bg-white");
			home1.classList.add("hidden");
			home2.classList.remove("hidden");
			navAction.classList.remove("gradient");
			navAction.classList.add("bg-white");
			navAction.classList.remove("text-white");
			navAction.classList.add("text-gray-800");
			for (var i = 0; i < toToggle.length; i++) {
				toToggle[i].classList.add("text-white");
				toToggle[i].classList.remove("text-gray-800");
			}
			header.classList.remove("shadow");
			navContent.classList.remove("bg-white");
			navContent.classList.add("bg-gray-100");
		}
	});

	var navMenuDiv = document.getElementById("nav-content");
	var navMenu = document.getElementById("nav-toggle");

	document.onclick = check;
	function check(e) {
		var target = (e && e.target) || (event && event.srcElement);
		if (!checkParent(target, navMenuDiv)) {
			if (checkParent(target, navMenu)) {
				if (navMenuDiv.classList.contains("hidden")) {
					navMenuDiv.classList.remove("hidden");
				} else {
					navMenuDiv.classList.add("hidden");
				}
			} else {
				navMenuDiv.classList.add("hidden");
			}
		}
	}

	function checkParent(t, elm) {
		while (t.parentNode) {
			if (t == elm) { return true; }
			t = t.parentNode;
		}
		return false;
	}
}
</script>